<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>loading</ion-title>
    <ion-progress-bar class="progress" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">googlecallback</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="content">
    <ion-img
      class="img1"
      src="assets/img/runing1.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <ion-item>
      <ion-card fill="outline">
        <ion-card-header>
          <ion-card-title>Authontification in progress</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-grid>
</ion-content>
<ion-img class="img2" src="assets/img/joj.png" alt="night"></ion-img>
