ion-content {
    position: absolute;
    display: flex;
    --ion-background-color: rgba(50, 0, 74, 1);
    justify-content: center;
    align-items: center;
    --offset-top: 50vh;
    --offset-bottom: 50vh;
}

ion-input {
    background: rgba(86, 12, 105, 1);
    height: 30px;

}

ion-header {

    --ion-background-color: transparent;
}

ion-img.img1 {
    margin-top: auto;
    margin-left: 20%;
    margin-right: 20%;
}

#item {

    --background: rgba(86, 12, 105, 1);
    --border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;

}

#container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

#title {

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    --ion-toolbar-background: transparent;
    --ion-item-background: transparent;

}

@media only screen and (max-width: 768px) {

    /* Styles for screens up to 768px width */
    #title {
        font-size: 13px;
        margin-bottom: 13px;

    }
}

@media only screen and (max-width: 480px) {

    /* Styles for screens up to 480px width */
    #title {
        font-size: 14px;
        margin-bottom: 13px;

    }
}

#href {
    --border-style: none;
    --ion-item-background: transparent;
    margin-left: 5%;
    margin-right: 10%;
}

.red-icon {
    color: rgb(236, 234, 234);
}

.custom-button {
    --background: #93278F;
    --border-radius: 5px;
    font-size: large;
    height: 40px;
    width: 70%;
    margin: auto;
}

ion-text {
    color: #ffffff;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 15%;
    //text-align: center;
}

.custom-header {
    margin-top: 30%;
    /* Adjust the margin value according to your preference */
    background-color: transparent;
    border: none;
    box-shadow: none;
}

ion-img.img2 {
    position: absolute;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;


}

.forgot-password-label {

    width: 70px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    top: 391px;
    left: 56px;
    font-family: Jaldi;
    font-weight: Regular;
    font-size: 13px;
}

*{
    color:#fffcff
  }
.signup-label {
    width: 154px;
    color: rgba(255, 255, 255, 1);
    font-size: 11px;
    font-weight: bold;
    opacity: 1;
    margin-left: 20%;
    margin-right: 20%;
    // text-align: left;
    margin-top: 1%;
}


.custom-submit {

    --background: transparent;
    border-radius: 30px;

    align-items: center;
    margin-left: auto;
    margin-right: auto;

    ion-button {
        margin-left: auto;
        margin-right: auto;
        --border-radius: 24px;
        --background: #93278F;
        width: 50%;
        height: 100%;
        padding-left: 1%;
        padding-right: 1%;
        font-size: large;
    }
}

#mod {
    --width: 91%;
    --height: auto%;
    --ion-background-color: transparent;
    background: #7819802e;

    ion-img {
        margin: 20%;
        margin-top: 10%;
        margin-bottom: 15%;
        //margin-right: 12%;
    }

    ion-card {
        height: 100%;
        --background: #E3E0FF;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 30px;

        ion-card-title {
            color: #3E3162;
            font-weight: bold;
            font-size: 20px;

        }

        ion-card-content {
            text-align: center;
            font-weight: 500;
            margin: 3%;
            font-size: 15px;
            color: #403a3a;
        }

        ion-button {
            margin: 5%;

            --border-radius: 24px;
            --background: #93278F;
            width: 61%;
            padding-left: 1%;
            padding-right: 1%;
        }
    }

}