<ion-header >
  <ion-toolbar class="toolbar">
    <ion-grid>
      <ion-row style="position: relative">
        <ion-col style="display: flex; justify-content: center">
          <h4>Lets go cook</h4>
        </ion-col>
        <ion-col size="auto">
          <ion-img
            routerLink="/meals"
            src="assets/icon/Back.png"
            id="icon-size"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="bg-transparent contentin">
  <ion-item id="item1">
    <ion-img src="{{imagecategorie}}" id="icon-size"></ion-img>
  </ion-item>
  <ion-list>
    <ion-grid class="grid1" style="border-style: none;">
    <ion-grid class="row1">
      <ion-title> {{namecategorie}} List</ion-title>
        <ion-item class="search" style="height: 50px;border-style: none;">
      <ion-input  type="text"  style="min-height: 20px;" placeholder="search"  class="form-control " [(ngModel)]="searchTerm" (keyup)="search()"></ion-input>
      <ion-icon name="search" slot="end"></ion-icon>
    </ion-item>
  </ion-grid>
    </ion-grid>

 
    <ion-grid>
   
      <ion-row id="row2">

        <ion-col size="6" *ngFor="let meal of mealsCategory">
          <ion-card routerLink="mealrecipe/{{meal.id}}" >
            <ion-card-header>
              <img
                class="img1"
                src="{{meal.img_url}}"
                alt="Progress"
              />
            </ion-card-header>
            <ion-card-content>{{meal.name}}  
            </ion-card-content>
            
          </ion-card>

        </ion-col>

       
        
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>
