<ion-content class="bg-transparent" [fullscreen]="true" scroll-y="false">
  <ion-text id="title"><h5>Reset Account Password</h5></ion-text>
  <ion-img
    class="img1"
    src="assets/img/forgetPass.png"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>

  <ion-form id="container">
    <ion-item id="item">
      <ion-label position="stacked" class="ion-label-size" floating></ion-label>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
      [(ngModel)]="email"
      type="email"
      labelPlacement="stacked"
      [formControl]="emailFormControl"
      required
      #emailInput
      (ionFocus)="showError = false; showErrorEmail = false"
      
    ></ion-input>
    <ion-label *ngIf="showErrorEmail && emailFormControl.hasError('email') && emailFormControl.dirty" style="color: #c94c4c; padding-top: 0.2rem">
      Invalid email address
    </ion-label>

      <ion-label *ngIf="showError" style="color: #c94c4c; padding-top: 0.2rem">
        Email is required
      </ion-label>
    </ion-item>

    <ion-item id="href"> </ion-item>

    <ion-row>
      <ion-col id="container">
        <ion-button
          expand="block"
          class="custom-button"
          (click)="resetPassword(email);"
          >Reset Password</ion-button
        >

        <ion-item class="signup-label">
          <h6>Don't have an account?</h6>
          <a routerLink="/register">Sign up here</a>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-form>

  <ion-footer class="sticky-footer">
    <ion-img class="img" src="assets/img/joj.png" alt="night"></ion-img>
  </ion-footer>
</ion-content>

<ion-modal [isOpen]="isModalOpenRest" id="mod">
  <ng-template>
    <ion-card>
      <ion-img
        alt="Silhouette of mountains"
        src="assets/img/EmailSent.png"
      ></ion-img>
      <ion-card-header>
        <ion-card-title>Check Your Email</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        An Email has been sent to <span id="span">{{email}}</span> With Link to Rest You password
      </ion-card-content>

      <ion-button (click)="setOpenRest(false)">Done</ion-button>
    </ion-card>
  </ng-template>
</ion-modal>