<ion-content scroll-y="false" [fullscreen]="true">
  <ion-text id="title">
    <h5>Edit Your Account</h5>
  </ion-text>

  <form id="container" [formGroup]="contactForm">
    <ion-item id="item">
      <ion-avatar slot="start" class="label-Avatar">
        <img
          alt="img"
          [src]="datauserprofileimage.profile_image"
          (load)="isLoadingImage = false"
          (error)="isLoadingImage = false"
          [hidden]="isLoadingImage"
        />
        <ion-spinner *ngIf="isLoadingImage"></ion-spinner>
      </ion-avatar>
      <ion-label>
        <input
          type="file"
          (change)="onFileChange($event)"
          accept="image/*"
          class="avatarbutton"
        />
      </ion-label>
    </ion-item>

    <ion-item id="item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item id="item">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>phone</ion-label>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>

    <ion-item id="item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label fixed>Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        name="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item id="item">
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender" slot="end">
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="male">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item id="item">
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>Goals</ion-label>
      <ion-select formControlName="goal_id" slot="end">
        <ion-select-option value="{{ goal.id }}" *ngFor="let goal of goals "
          >{{ goal.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </form>

  <ion-item class="custom-submit">
    <ion-button (click)="setProfileImageUrl()"> Save Changes </ion-button>
  </ion-item>

  <ion-modal [isOpen]="isModalOpenmodif" id="mod">
    <ng-template>
      <ion-card>
        <ion-img
          alt="Silhouette of mountains"
          src="assets/img/checkmark.png"
        ></ion-img>
        <ion-card-header>
          <ion-card-title>Profile updated</ion-card-title>
        </ion-card-header>

        <ion-button (click)="setOpenmodif(false)">Done</ion-button>
      </ion-card>
    </ng-template>
  </ion-modal>

  <ion-tabs class="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-img
          class="img1"
          routerLink="../dashboard"
          src="assets/icon/home.png"
          alt="Progress"
        ></ion-img>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img
          class="img1"
          src="assets/icon/chart.png"
          routerLink="../progress"
          alt="Progress"
        ></ion-img>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img
          class="img1"
          src="assets/icon/Deadlift.png"
          routerLink="../workouts"
          alt="Progress"
        ></ion-img>
      </ion-tab-button>
      <ion-tab-button>
        <ion-img
          class="img1"
          routerLink="../profile"
          src="assets/icon/profile.png"
          alt="Progress"
        ></ion-img>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
